.default-color0.chart-pie { -fx-pie-color: orange; }
.default-color1.chart-pie { -fx-pie-color: purple; }
.default-color2.chart-pie { -fx-pie-color: blue; }
.default-color3.chart-pie { -fx-pie-color: green; }
.default-color4.chart-pie { -fx-pie-color: orange }
.default-color5.chart-pie { -fx-pie-color: purple; }
.default-color6.chart-pie { -fx-pie-color: blue; }
.default-color7.chart-pie { -fx-pie-color: green; }